blinker==1.4
certifi==2021.10.8
click==8.0.3
Deprecated==1.2.13
ecs-logging==1.1.0
elastic-apm==6.7.2
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
psutil==5.9.0
pyparsing==3.0.6
redis==4.1.1
structlog==21.5.0
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
